.header{
  font-family: 'Lato';
  position: relative;
  background-image: url('../../img/mobile/hero.png');
  height: 650px;
  // background-size: 360px 650px ;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__img{
  
}

.header__description{
  display: flex;
  align-items: center;
  // gap: 30px;
  justify-content: space-between;
}

.header__description-item{
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__description-text{
  font-family: 'Fredoka';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #5D41BA;
}

.header__navlist{
  display: none;
}

.adress-container__adress{
  font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #000000;
}

.adress-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  background: rgba(239, 233, 249, 0.47);
  // padding: 8px 38px;
  // width: 80vw;
  padding-top: 8px;
  padding-bottom: 8px;
}

.adress-container__button{
  font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #5D41BA;
}

.menu{
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 25px;
  background: rgba(255, 255, 255, 0.42);
 padding: 27px 15px;
 position: absolute;
 top: 0;
 width: 100%;
}

.menu__button{
  width: 156px;
  height: 45px;
  background: #1F1F23;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
 border: none;
  color: #FFFFFF;
// margin-top: 11px;
// margin-bottom: 31px;
}

.menu__icon{
  // color: linear-gradient(89.84deg, #6143B6 0.1%, #3D51C1 45.17%, #C270D2 101.9%);
}

.adress-container__wrapper{
  display: flex;
  align-items: center;
}