.location__title{
    font-family: 'Lato';
font-style: normal;
font-weight: 275;
font-size: 28px;
line-height: 34px;

text-transform: uppercase;

text-align: center;
margin-bottom: 44px;
color: #140B38;
}

img{
    margin: 0;
}